*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body {
    background-color: rgb(137, 38, 170);
}

.title {
    font-size: 36px;
    margin-bottom: 10px;
}
.auth-screen{
    padding: 16px;
    display: flex;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 750px;
    flex: 1;
}

.auth-form .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.auth-form .input-container input {
    border: none;
    border-bottom: 1px solid gray;
}

@media screen and (min-width: 750px) {
    .auth-screen {
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
}

.home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor de las dos secciones */
.workspaces-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    gap: 20px; /* Espacio entre las dos secciones */
}

/* Estilos de cada lado */
.workspaces, .create-workspace {
    flex: 1;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para cada item de workspace */
.workspace-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.workspace-item:last-child {
    border-bottom: none;
}

